{% extends "questions/base_generic.html" %} {% block content %}
<h1 class="text-center">Alle examens</h1>
<div class="container py-2">
  <div class="row justify-content-center">
    {% for exam in exams %}
    <div class="card col-md-4">
      <div class="card-body">
        <h5 class="card-title">{{ exam.name }}</h5>
        <div class="btn-group" role="group" aria-label="Basic example">
          <a class="btn btn-primary" href="{{ exam.get_absolute_url }}"
            >Naar examen</a
          >
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>
{% endblock %}
